<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KT8dualpluspostpost.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KT8dualpluspostpost.My.MySettings>
            <setting name="T0" serializeAs="String">
                <value>T0
G1 X230 F6500 ; go to right parking lot
M42 P11 S255 ; electro magnet 2 off
G4 P300
G1 X-2 F6500 ; go to left parking lot
M42 P6 S0 ; electro magnet 1 on
G4 P300</value>
            </setting>
            <setting name="T1" serializeAs="String">
                <value>T1
G1 X-2 F6500 ; go to left parking lot
M42 P6 S255 ; electro magnet 1 off
G4 P300
G1 X230 F6500 ; go to right parking lot
M42 P1 S0 ; electro magnet 2 on
G4 P300</value>
            </setting>
            <setting name="SPEED1730" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="SPEEDE3D" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CHAMBERTEMP" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="STARTTOOL" serializeAs="String">
                <value>G1 X232.000 F6500 ; go to right parking lot
M42 P57 S255 ; electro magnet 2 off</value>
            </setting>
            <setting name="OPWARMDWELLSEC" serializeAs="String">
                <value>120</value>
            </setting>
        </KT8dualpluspostpost.My.MySettings>
    </userSettings>
</configuration>